:root {
    --primary:#2F4455;
    --secondary: #376F70;
    --background-color: #EAE7DC;
    --white:#fff;
    --black:#000;
    --scrollbar-track-bg-color: #f1f1f1;
    --scrollbar-thumb-bg-color: #888;
    --scrollbar-thumb-hover-bg-color: #555;
    --title-bg-before: #111;
    --title-bg-after: #fff;
    --bg-black-dark:#111;
    --bg-black-medium:#222;
    --bg-black-light:#333;
}
body{
    background-color: #666464;
}
.txt{
    color: #EAE7DC;
}
.lable{
    background-color: #00000081;
}
.txt::placeholder{
    color: #f1f1f1;
  }
.acc{
    background-color: #6b6969;
}

a{
    text-decoration: none;
}
.head_logo{
    background-color: var(--background-color);

}
/* .nav-item:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    background-color: #eae7dc1a;
} */
.div-pro-logo{
    height: 50px;
    width: 50px; 
    overflow: hidden;
}
.div-pro-logo .pro-logo{
    transform: scale(1);
    height: 100%;
    width: 100%;
}
.navbar-toggler-icon{
    color: #fff;
}
.nav-item{
    color: #EAE7DC;
}
.card{
    background-color: #454545;
}